<div>
	<div class="title-bar-container">
		<div class="center-container">
			<h1>Post new Riddle</h1>
		</div>
	</div>

	@if (!postState.imageSet()) {
		<div>
			<div class="title-bar-container">
				<div class="center-container">
					<h2>Select an image</h2>
				</div>
			</div>

			<div class="center-container" style="margin-top: 10px">
				<input
					type="file"
					style="display: none"
					(change)="uploadImage($event)"
					accept=".jpg, .jpeg, .png"
					#fileUpload
				/>
			</div>

			<div class="center-container">
				<ion-button (click)="takePicture()" style="margin: 10px">
					<span style="padding-right: 5px">Open Camera</span>
					<ion-icon name="camera-outline"></ion-icon>
				</ion-button>
			</div>
		</div>
	} @else {
		<div>
			<div class="title-bar-container">
				<div class="center-container">
					<h2>Mark the image location on the map</h2>
				</div>
			</div>

			<div class="center-container">
				<app-map
					class="map-container"
					(placeMarker)="postState.setLocation.next($event)"
					[marker]="postState.location()"
					[center]="postState.location()"
					[zoom]="!!postState.location() ? 10 : 4"
				></app-map>
			</div>

      <ion-list class="ion-padding ion-margin">
        <ion-item>
            <ion-select [(ngModel)]="arenas" aria-label="Arenas" placeholder="Select all arenas that apply" [multiple]="true">
              @for (arenaOption of arenaOptions; track arenaOption) {
                @if (arenaOption !== "My Friends"){
                  <ion-select-option value="{{ arenaOption }}">{{ arenaOption }}</ion-select-option>
                }
              }
            </ion-select>
        </ion-item>
      </ion-list>

			<div class="center-container" style="margin-top: 5vh">
				<ion-button (click)="postState.cancelPost.next()" style="margin: 10px" color="medium">
					<span style="padding-right: 5px">Cancel</span>
					<ion-icon name="close-outline"></ion-icon>
				</ion-button>
				<ion-button
					(click)="completePost()"
					style="margin: 10px"
					[disabled]="!postState.postingEnabled()"
				>
					<span style="padding-right: 5px">Post Riddle</span>
					<ion-icon name="location-outline"></ion-icon>
				</ion-button>
			</div>
		</div>
	}
</div>
