<div>
	<div class="center-container">
		<div class="search-container">
			<ion-input
				type="text"
				label="Search User"
				labelPlacement="floating"
				[clearInput]="true"
				fill="outline"
				placeholder="Username..."
				(ionInput)="searchState.search.next($event.detail.value)"
			></ion-input>
		</div>
	</div>

	<div class="center-container">
		<div class="list-container">
			@for(item of searchState.searchResults(); track item.username) {
			<ion-card>
				<ion-card-header>
					<ion-card-title (click)="router.navigate(['/home/profiles/' + item.username])">{{ item.username }}</ion-card-title>
				</ion-card-header>
				<ion-card-content>
					<ion-button expand="block" fill="outline" (click)="follow(item.username)"> Follow </ion-button>
				</ion-card-content>
			</ion-card>
			}
		</div>
	</div>
</div>
