<ion-content class="ion-padding-horizontal">
  <ion-item class="search ion-margin-vertical" lines="none">
    <ion-icon fill="icon-only" name="search" size="small" slot="start"></ion-icon>
    <ion-input
      (ionInput)="searchState.search.next($event.detail.value)"
      [clearInput]="true"
      color="dark"
      label="Add or Search friends"
      labelPlacement="floating"
      placeholder="Username..."
      type="text">
    </ion-input>
  </ion-item>

  <div class="ion-margin-vertical">
    @if (searchState.searchResults().length) {
      <ion-item lines="none">
        <ion-label color="medium">
          <h2>SEARCH RESULTS</h2>
        </ion-label>
      </ion-item>
    } @else if (searchState.searchTerm()) {
      <ion-item lines="none">
        <ion-label color="medium">
          <h3 class="ion-text-center">No users found with this username</h3>
        </ion-label>
      </ion-item>
    }
    @for (item of searchState.searchResults(); track item.username) {
      <ion-item lines="none">
        <ion-label (click)="router.navigate(['/home/profiles/' + item.username])">
          <h2>{{ item.username }}</h2>
          <p>{{ item.firstName }} {{ item.lastName }}</p>
        </ion-label>
        @if (isFollowingUser(item.username)) {
          <ion-icon name="checkmark-outline"></ion-icon>
        } @else {
          <ion-button (click)="this.networkState.follow.next(item.username)" fill="clear" color="dark">
            <ion-icon slot="icon-only" name="person-add-sharp"></ion-icon>
          </ion-button>
        }
      </ion-item>
    }
  </div>

  <div style="margin-top: 3rem">
    <ion-item lines="none">
      <ion-label color="medium">
        <h2>FOLLOW REQUESTS</h2>
      </ion-label>
    </ion-item>
    @for (item of networkState.followRequests(); track item.requester) {
      <ion-item lines="none">
        <ion-label (click)="router.navigate(['home/profiles', item.requester])">
          <h2>{{ item.requester }}</h2>
        </ion-label>
        <ion-button (click)="networkState.acceptFollowRequest.next(item.requester)" fill="clear" color="success">
          <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="networkState.declineFollowRequest.next(item.requester)" fill="clear" color="danger">
          <ion-icon slot="icon-only" name="close-outline"></ion-icon>
        </ion-button>
      </ion-item>
    } @empty {
      <ion-item lines="none">
        <ion-label color="medium">
          <h3 class="ion-text-center ion-margin-vertical">No follow pending requests</h3>
        </ion-label>
      </ion-item>
    }
  </div>
</ion-content>
