<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-select  [(ngModel)]="feedMode" (ionChange)="onFeedModeChange()" aria-label="Arenas" interface="popover" placeholder="Select arena">
        @for (arenaOption of arenaOptions; track arenaOption) {
          <ion-select-option value="{{ arenaOption }}">{{ arenaOption }}</ion-select-option>
        }
      </ion-select>
    </ion-item>
  </ion-list>
  @if (!feedState.loading()) {
    <ion-refresher (ionRefresh)="handleRefresh($event)" slot="fixed">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  }
  <div class="center-container" style="height: 100%">
    <div style="height: 100%">
      @if (!feedState.loading()) {
        @for (item of feedState.locationRiddles(); track item.locationRiddleId) {
          <app-location-riddle-post
            [locationRiddle]="item"
            [username]="feedState.username()"
            (submitGuess)="
							feedState.submitGuess.next({ locationRiddleId: item.locationRiddleId, guess: $event })
						"
            (rateLocationRiddle)="
							feedState.rateLocationRiddle.next({
								locationRiddleId: item.locationRiddleId,
								rating: $event
							})
						"
            (commentLocationRiddle)="
							feedState.commentOnLocationRiddle.next({
								locationRiddleId: item.locationRiddleId,
								comment: $event
							})
						"
          ></app-location-riddle-post>
        } @empty {
          <div style="height: 100%; align-content: center">
            <p>No location riddles to solve...</p>
          </div>
        }
      } @else {
        <div style="height: 100%; align-content: center">
          <ion-spinner></ion-spinner>
        </div>
      }
    </div>
  </div>
</ion-content>
