<ion-content class="ion-padding">
  <ion-refresher (ionRefresh)="handleRefresh($event)" slot="fixed">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>
  <div class="center-container">
    @if(!feedState.loading()){ @for (item of feedState.locationRiddles(); track
    item.locationRiddleId) {
    <app-location-riddle-post
      [locationRiddleImage]="item.locationRiddleImage"
      [username]="getUsername(item.userId)"
      [createdAt]="item.createdAt"
      [rating]="item.rating"
      [comments]="item.comments"
    ></app-location-riddle-post>
    } @empty {
    <div class="base-container">
      <p>No location riddles to solve...</p>
    </div>
    } } @else {
      <div class="base-container">
        <ion-spinner></ion-spinner>
      </div>
    }
  </div>
</ion-content>
