<ion-card>
  <ion-card-header class="ion-padding">
    <ion-card-title>
      <ion-item lines="none">
        <ion-avatar aria-hidden="true" slot="start">
          <ion-img src="https://ionicframework.com/docs/img/demos/avatar.svg"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>Huey</h2>
          <p>10.04.23</p>
        </ion-label>
      </ion-item>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-img
      src="{{locationRiddleImage()}}">
    </ion-img>
  </ion-card-content>
  <ion-card-subtitle>
    <ion-label class="ion-margin">
      View Comments
    </ion-label>
  </ion-card-subtitle>
</ion-card>
