<div class="base-container">
  @if (userProfile$ | async) {
    @if (authUser$ | async; as authUser) {
      <ion-tabs>
        <ion-tab-bar>
          <ion-tab-button tab="feed">
            <ion-icon name="map-outline"></ion-icon>
            Riddles
          </ion-tab-button>
          <ion-tab-button tab="search">
            <ion-icon name="search"></ion-icon>
            Search
          </ion-tab-button>
          <ion-tab-button tab="post">
            <ion-icon name="camera-outline"></ion-icon>
          </ion-tab-button>
          <ion-tab-button tab="network">
            <ion-icon name="globe-outline"></ion-icon>
            Network
          </ion-tab-button>
          <ion-tab-button tab="profile">
            <ion-icon name="person-circle-outline"></ion-icon>
            Profile
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>

    } @else {
      <ion-spinner name="circular"></ion-spinner>
    }
  } @else {
    <ion-spinner name="circular"></ion-spinner>
  }
</div>
